{% include "main.html" %}
<body>
{% include "header.html" %}
{% include "cata1.html" %}

<div class="cantainer">

<div class="catalog">
<div class="arrow">
<a href="{{url_for('showBusiness')}}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</div>

<div class="category">
<h2>Business</h2>
{% for data in business %}
<a href="{{url_for('showBusinessItem', name = data.name)}}">
<h3>{{data.name}}</h3>
</a>
{%endfor%}
</div>

<div class="item">
{% for data in businessItem %}
<h2>{{data.name}}</h2>
<h3 id="intro">Description</h3>
<p>{{data.description}}</p>
<h3 id="fav">Favorite</h3>
<p>{{data.favorite}}</p>
<a href="{{url_for('editBusiness', name = data.name )}}">Edit</a>|
<a href="{{url_for('deleteBusiness', name = data.name)}}">Delete</a>
{%endfor%}
</div>
</div>

<div class = 'flash'>
                      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
</div>

</body>
</html>
