<div class="categorie">
               <a href = "{{url_for('showSports')}}">
                                                <h3>Sports</h3></a>
               <a href = "{{url_for('showEntertainment')}}">
                                                <h3>Entertainment</h3></a>
               <a href = "{{url_for('showEducation')}}">
                                                <h3>Education</h3></a>
               <a href = "{{url_for('showBusiness')}}">
                                                <h3>Business</h3></a>
               {% if 'username' in session %}
               <a href = "{{url_for('showPrivateDiary', id=id)}}">
                                                <h3>Diary</h3></a>
               {% else %}
               <a href="{{url_for('showDiary')}}">
                                               <h3>Diary</h3></a>
               {%endif%}

               <a href = "{{url_for('showRead')}}">
                                                <h3>Read</h3></a>                
               <a href = "{{url_for('showPlace')}}">
                                                 <h3>Maps of Places</h3></a>
</div>

