{% include "main.html" %}
<body>
{% include "header.html" %}
<div class="cantainer">

<div class="catalog">
<div class="arrow">
<a href="{{url_for('showCatalog')}}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</div>
{% include "cata.html" %}

<div class="category">
<h2>Education<h2>
{% for data in education %}
<a href="{{url_for('showEducationItem', name = data.name)}}">
<h3>{{data.name}}</h3>
</a>
{%endfor%}
</div>

<div class="item">
{% for data in educationItem %}
<h2>{{data.name}}</h2>
<h3 id="intro">Description</h3>
<p>{{data.description}}</p>
<h3 id="fav">Favorite</h3>
<a href="{{url_for('showEducationItemType', name=data.name, e1=data.favorite)}}">
<p>{{data.favorite}}</p></a>
<a href="{{url_for('editEducation', name = data.name )}}">Edit</a>|
<a href="{{url_for('deleteEducation', name = data.name)}}">Delete</a>
{%endfor%}
</div>
</div>

<div class = 'flash'>
                      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
</div>
<footer>
<a href="{{url_for('showEducation')}}">go Back</a>
</footer>

</body>
</html>
