{% include "main.html" %}
<body>
{% include "header.html" %}
{% include "cata1.html" %}

<div class="cantainer">

<div class="catalog">
<div class="arrow">
<a href="{{url_for('showPrivateDiary', id=id)}}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</div>

<div class="category">
<h2>Diary<h2>
{% for data in pdiary %}
<a href="{{url_for('showPrivateDiaryItem', id=data.user_id, name=data.name)}}">
<h3>{{data.name}}</h3>
</a>
{%endfor%}
</div>

<div class="item">
{% for data in pdiaryItem %}
<h2>{{data.name}}</h2>
<h3 id="intro">Title</h3>
<p>{{data.title}}</p>
<h3 id="intro">Description</h3>
<p>{{data.description}}</p>
<h3 id="fav">Date</h3>
<p>{{data.date}}</p>
<a href="{{url_for('editPrivateDiary', name = data.name )}}">Edit</a>|
<a href="{{url_for('deletePrivateDiary', name = data.name)}}">Delete</a>
{%endfor%}
</div>
</div>

<div class = 'flash'>
                      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
</div>
<footer>
</footer>

</body>
</html>
