{% include "main.html" %}
<body>
{% include "header.html" %}
<div class="cantainer">

<div class="catalog">
<div class="arrow">
   <a href="{{url_for('showCatalog')}}"><i class="fa fa-arrow-left" aria-hidden=                                          "true"></i></a>
</div>
{% include "cata.html"%}
<div class="categoryP">
<h2>Business<h2>
{% for data in business %}
<a href="{{url_for('showBusinessItem', name = data.name)}}">
<h3>{{data.name}}</h3>
</a>
{%endfor%}
<br>
<a href="{{url_for('showLogin' )}}">Create</a>
</div>
</div>

<div class = 'flash'>
                      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
</div>
<footer>
</footer>

</body>
</html>
