{% include "main.html" %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Catalog</h1>
		</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>

<div class= "catalog">
               <a href = "{{url_for('showSports')}}">
                                                <h3>Sports</h3></a>
               <a href = "{{url_for('showEntertainment')}}">
                                                <h3>Entertainment</h3></a>
               <a href = "{{url_for('showEducation')}}">
                                                <h3>Education</h3></a>
               <a href = "{{url_for('showBusiness')}}">
                                                <h3>Business</h3></a>
               <a href = "{{url_for('showDiary')}}">
                                                <h3>Diary</h3></a>
	
</div>
 <!--	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('showLogin')}}">
				<button class="btn btn-default" id="new-catalog">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Catalog
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for cata in catalog %}
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 catalog-list">
               <a href = "{{url_for('showSportsItem', name = 'sports')}}">
						<h3>Sports</h3>
               <a href = "{{url_for('showEntertainmentItem', name = 'entertainment')}}">
                                                <h3>Entertainment</h3>
               <a href = "{{url_for('showEducationItem', name = 'education')}}">
                                                <h3>Education</h3>
               <a href = "{{url_for('showBusiness', name = 'business')}}">
                                                <h3>Business</h3>
               <a href = "{{url_for('showDiaryItem', name = 'diary')}}">
                                                <h3>Diary</h3>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>-->
<!--	{% endfor %}-->
</html>
