{% include "main.html" %}
<body>
{% include "header.html" %}
<div class="cantainer">

<div class="catalog">
<div class="arrow">
   <a href="{{url_for('showEducation')}}"><i class="fa fa-arrow-left" aria-hidden=                                          "true"></i></a>
</div>
{% include "cata.html"%}
<div class="categoryP">
<h2>Education<h2>
{% for data in education %}
<a href="{{url_for('showEducationItem', name = data.name)}}">
<h3>{{data.name}}</h3>
</a>
{%endfor%}
</div>

<div class="itemP">
{% for data in educationItem %}
<h2>{{data.name}}</h2>
{%if data.name=='Word meaning' %}
 <input id="meaning"  type=text placeholder="type a word" name="meaning">
 <input id ="mean" type=submit value=submit onclick="findMeaning()"/>
 <div id="meaning1" >
  </div>
{%else%}
<h3 id="intro">Description</h3>
<p>{{data.description}}</p>
<h3 id="fav">Favorite</h3>
<p>{{data.favorite}}</p>
<a href="{{url_for('showLogin', name = data.name )}}">Edit</a>|
<a href="{{url_for('showLogin', name = data.name)}}">Delete</a>
{%endif%}
{%endfor%}
</div>
</div>

<div class = 'flash'>
                      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
</div>
<footer>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/static/js/search.js"></script></body>
</html>
