<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Paris</title>
    <link rel="stylesheet" href="/static/css/style.css?q=1280549780">
</head>

<body>
    <header class="header_container">
    <div class="cat">
      <a href="{{url_for('showCatalog')}}"> <h2>Category</h2></a>
    </div>
     <div class="sel">
         <h2>Select   Location</h2>
     </div>
     <div class="loc">
        <h2>Map</h2>
     </div>
   </header>
    <!--  <div class="container">-->
    <div id="menu">
<div class="categorie">
               <a href = "{{url_for('showSports')}}">
                                                <h3>Sports</h3></a>
               <a href = "{{url_for('showEntertainment')}}">
                                                <h3>Entertainment</h3></a>
               <a href = "{{url_for('showEducation')}}">
                                                <h3>Education</h3></a>
               <a href = "{{url_for('showBusiness')}}">
                                                <h3>Business</h3></a>
               <a href = "{{url_for('showDiary')}}">
                                                <h3>Diary</h3></a>
               <a href = "{{url_for('showRead')}}">
                                                <h3>Read</h3></a>                
               <a href = "{{url_for('showPlace')}}">
                                                 <h3>Maps of Places</h3></a>
</div>

        <div class="inSelect">
      <a href="#" data-bind="click: function() {$root.findCity(city)}">
        <span data-bind = "text: city"></span><br>
      </a>
        <input data-bind="textInput: city"> <!--"value: city, valueUpdate: 'afterkeydown'">-->
  <!-- <span data-bind="text: city ? $root.findCity(city):''"></span>-->
        </div>

        <div id="map"></div>
    </div>
    <!--  </div> -->

    <script src="/static/bower_component/knockout.js"></script>
    <script src="/static/js/libs/jquery.min.js"></script>
    <script src="/static/js/data.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB9gvHI8M3MazFFG5ih5NlvJjG6xUrkElY&callback=initMap" async defer onerror="googleError()">
    </script>


</body>

</html>
