{% include "main.html" %}
<body>
{% include "header.html" %}
<div class="cantainer">

<div class="catalog">
<div class="arrow">
   <a href="{{url_for('showEntertainment', name=name)}}"><i class="fa fa-arrow-left" aria-hidden=true></i></a>
</div>
{% include "cata.html"%}
<div class="categoryP">
<h2 style {width:800px}>Entertainment<h2>
{% for data in entertainment %}
<a href="{{url_for('showEntertainmentItem', name = data.name)}}">
<h3>{{data.name}}</h3>
</a>
{%endfor%}
</div>

<div class="itemP">
{% for data in entertainmentItem %}
<h2>{{data.name}}</h2>
<h3 id="intro">Description</h3>
<p>{{data.description}}</p>
<h3 id="fav">Favorite</h3>
<a href="{{url_for('showEntertainmentItemType', name=data.name, e1=data.favorite)}}"><p>{{data.favorite}}</p></a>
<a href="{{url_for('showLogin')}}">Edit</a> &nbsp;|
<a href="{{url_for('showLogin')}}">Delete</a>
{%endfor%}
</div>
</div>

<div class = 'flash'>
                      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
</div>
<footer>
</footer>

</body>
</html>
