<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>City</title>
    <link rel="stylesheet" href="/static/css/style.css?q=1280549780">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">


</head>

<body>
    <header class="container">
        <ul>

            <li>
                <a href="{{url_for('showCatalog')}}"> <i class="fa fa-home"></i></a>
            </li>
            <li>
                <a href="http://twitter.com"> <i class="fa fa-twitter"></i></a>
            </li>
            <li><a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
            <li>
                <a href="http://www.plus.google.com"> <i class="fa fa-google-plus"></i></a>
            </li>
            <li>
                <a href="https://linkedin.com/in/manoj-shrestha"> <i class="fa fa-linkedin"></i></a>
            </li>
            <li><a href="https://www.github.com/mmscomp"><i class="fa fa-github" aria-hidden="true"></i></a></li>


        </ul>

    </header>
    <div class="header-container">
        <div class="sel">
            <h2>Enter a city</h2>
        </div>
        <div class="loc">
            <h2>Map</h2>
        </div>
    </div>

    <div id="menu">
        <div class="inSelect">
            <div class="opt">
                <div class="sel">
                    <input data-bind="textInput: city">
                </div>
                <div class="place">
                    <a href="#" data-bind="click: function() {$root.findCity(city)}">
                        <span data-bind="text: city"></span>
                        <br>
                    </a>
                </div>
            </div>
            <span data-bind="with: city "></span>
            <div class="opt">
                <div class="sel">
                    <p>
                        <select data-bind="options: places, optionsText: 'place', value: selectedPlace"></select>
                    </p>
                </div>
                <div data-bind="visible: selectedPlace">
                    <span data-bind="with: places"></span>
                    <div class="place">
                        <a href="#" data-bind="click: function () {$root.searchPlaces(selectedPlaceText())}">
                           <p data-bind="text: selectedPlaceText"></p>
                        </a>
                    </div>
                </div>
            </div>
            <p data-bind="text: placeList[0]">  </p>
            <ul data-bind="foreach: placeList">
                <li>
                    <a href="#" data-bind="click: function() {$root.clickMeDOM(name)}">
                        <span data-bind="text: name "></span>
                    </a>
                    <span data-bind="text: name ? $root.allMarkers(name):''"></span>

                </li>
            </ul>

        </div>


        <div id="map"></div>
    </div>

    <script src="/static/bower_component/knockout.js"></script>
    <script src="/static/js/libs/jquery.min.js"></script>
    <script src="/static/js/data.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB9gvHI8M3MazFFG5ih5NlvJjG6xUrkElY&callback=initMap" async defer onerror="googleError()">
    </script>


</body>

</html>
