{% include "main.html" %}
<body>
{% include "header.html" %}
<div class="cantainer">

<div class="catalog">
<div class="categorie">
               <a href = "{{url_for('showSports')}}">
                                                <h3>Sports</h3></a>
               <a href = "{{url_for('showEntertainment')}}">
                                                <h3>Entertainment</h3></a>
               <a href = "{{url_for('showEducation')}}">
                                                <h3>Education</h3></a>
               <a href = "{{url_for('showBusiness')}}">
                                                <h3>Business</h3></a>
               <a href = "{{url_for('showDiary')}}">
                                                <h3>Diary</h3></a>
               <a href = "{{url_for('showRead')}}">
                                                <h3>Read</h3></a>                
               <a href = "{{url_for('showPlace')}}">
                                                 <h3>Maps of Places</h3></a>
</div>
<div class="category">
<h2>Read<h2>
{% for data in read %}
<a href="{{url_for('showReadItem', name = data.name)}}">
<h3>{{data.name}}</h3>
</a>
{%endfor%}
</div>

<div class="item">
{% for data in readItem %}
<h2>{{data.name}}</h2>
<h3 id="intro">Description</h3>
<p>{{data.description}}</p>
<h3 id="fav">Favorite</h3>
<p>{{data.favorite}}</p>
<a href="{{url_for('editRead', name = data.name )}}">Edit</a>|
<a href="{{url_for('deleteRead', name = data.name)}}">Delete</a>
{%endfor%}
</div>
</div>

<div class = 'flash'>
                      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
</div>
<footer>
<a href="{{url_for('showRead')}}">Go Back</a>
</footer>

</body>
</html>
