{% include "main.html" %}
<body>
{% include "header.html" %}
<div class="cantainer">

<div class="catalog">
<div class="arrow">
<a href="{{url_for('showSportsItem', name=name)}}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</div>

<div class="categorie">
               <a href = "{{url_for('showSports')}}">
                                                <h3>Sports</h3></a>
               <a href = "{{url_for('showEntertainment')}}">
                                                <h3>Entertainment</h3></a>
               <a href = "{{url_for('showEducation')}}">
                                                <h3>Education</h3></a>
               <a href = "{{url_for('showBusiness')}}">
                                                <h3>Business</h3></a>
               {% if 'username' in session %}
               <a href = "{{url_for('showPrivateDiary', id=id)}}">
                                                <h3>Diary</h3></a>
               {% else %}
               <a href="{{url_for('showDiary')}}">
                                               <h3>Diary</h3></a>
               {%endif%}

               <a href = "{{url_for('showRead')}}">
                                                <h3>Read</h3></a>                
               <a href = "{{url_for('showPlace')}}">
                                                 <h3>Maps of Places</h3></a>
</div>
<div class="category">
<h2 style {width:800px}>Sports<h2>
{% for data in sports %}
<a href="{{url_for('showSportsItem', name = data.name)}}">
<h3>{{data.name}}</h3>
</a>
{%endfor%}
</div>

<div class="item">
{% for data in sportsItem %}
<h2>{{data.name}}</h2>
<h3 id="intro">Description</h3>
<p>{{data.description}}</p>
<h3 id="fav">Favorites</h3>

<a href="{{url_for('showSportsItemType', name=data.name, e1=data.favorite)}}"><p>{{data.favorite}}</p></a>
<!--<div id="wiki" ondblclick=loadWiki()><h2>Wiki Links</h2></div>-->
<div id="wiki"><h2 >Wiki Links</h2></div>
  <div id="login-container" class="pre-auth">This application requires access to your YouTube account.
    Please <a href="#" id="login-link">authorize</a> to continue.
  </div>
<!--
   <div id="buttons">
      <label> <input id="query" value={{data.favorite}} type="text"/><button id="search-button" disabled onclick="search()">Search</button></label>
    </div>
-->
    <div id="search" name="{{data.favorite}}" onclick="search()"><h2>Youtube vdo</h2></div>
    <div id="search-container">
    </div>

<div id="btn">
   <button id="prev" onclick="prev()">Prev</button> <button id="next" onclick="next()">Next</button>
</div>
<a href="{{url_for('editSports', name = data.name )}}">Edit</a>&nbsp; |
<a href="{{url_for('deleteSports', name = data.name)}}">Delete</a>
{%endfor%}
</div>
</div>
<div class = 'flash'>
                      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
</div>
    <script src="/static/js/libs/jquery.min.js"></script>
<!--
<script>
 var sub = $('#sub').text();
console.log("1 " + sub);
var $wiki = $('#wiki');
//$wiki.text("");
function loadWiki(){
var wikiUrl = 'http://en.wikipedia.org/w/api.php?action=opensearch&search=' + sub + '&format=json&callback=wikiCallback';
   var wikiRequestTimeout = setTimeout(function() {
        $wiki.text("failed to get wikipedia resources");
    }, 10000);

    $.ajax({
        url: wikiUrl,
        dataType: "jsonp",
        jsonp: "callback",
        success: function(response) {
            var articleList = response[1];
            var len = articleList.length;
            if (len > 3 ){
                len = 3;
            }
            for (var i = 0; i < articleList.length; i++) {
                articleStr = articleList[i];
                var url = 'http://en.wikipedia.org/wiki/' + articleStr;
                $wiki.append('<li><a href="' + url + '" target="_blank">' + articleStr + '</a></li>');
            };

             console.log("2 " + articleList);
            clearTimeout(wikiRequestTimeout);
        }
    });
}
</script>
-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/static/js/auth.js"></script>
    <script src="/static/js/search.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
</body>
</html>
