{% include "main.html" %}
<body>
{% include "header.html" %}
<div class="cantainer">

<div class="catalog">
<div class="arrow"><a href="{{url_for('showCatalog')}}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</div>
{% include "cata.html"%}

<div class="category">
<h2>Sports<h2>
{% for data in sports %}
<a href="{{url_for('showSportsItem', name = data.name)}}">
<h3>{{data.name}}</h3>
</a>
{%endfor%}
<br>
<a href="{{url_for('newSports' )}}">Create</a>
</div>
<!--
<div class="item">
{% for data in entertainmentItem %}
<h3 id="intro">Description</h3>
<p>{{data.description}}</p>
<h3 id="fav">Favorite</h3>
<p>{{data.favorite}}</p>
<a href="{{url_for('editEntertainment', name = data.name )}}">Edit</a>|
<a href="{{url_for('deleteEntertainment', name = data.name)}}">Delete</a>
{%endfor%}
</div>
-->
</div>

<div class = 'flash'>
                      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>
</div>
<footer>
</footer>

</body>
</html>
