        html,
        body {
            font-family: Arial, sans-serif;
        }
        
        header {
            width: 100%;
            color: red;
            /*   display: flex;*/
        }
        
        .sys {
            width: 100%;
            height: 20px;
            display: flex;
            justify-content: space-around;
            background: blue;
        }
        
        .fa {
            width: 15%;
            height: 100%;
            color: red;
        }
        
        .home {}
        
        .header-container {
            width: 100%;
            height: 100%;
            margin-left: 0;
            margin-right: 0;
            display: flex;
            flex-basis: 50%;
            justify-content: center;
            background: #000;
            border-right: 1pt solid blue;
        }
        
        .cat {
            width: 15%;
        }
        
        .sel {
            width: 25%;
            text-align: left;
        }
        
        .loc {
            width: 75%;
        }
        
        .cat>h2 {
            text-align: left;
            vertical-align: middle;
            color: red;
        }
        
        .sel>h2 {
            text-align: left;
            color: #fff;
        }
        
        .loc {
            text-align: center;
            color: #fff;
        }
        
        #menu {
            width: 100%;
            height: 100%;
            margin-left: 0;
            margin-right: 0;
            display: flex;
            /*  position: relative;
             margin: auto;
             overflow: hidden;*/
            flex-basis: 50%;
            background: #fff;
            border-right: 1pt solid black;
        }
        
        #map {
            width: 75%;
            flex: 0 75%;
            margin-left: auto;
            position: relative;
            height: 800px;
        }
        
        .inSelect {
            width: 25%;
            background: lightblue;
        }
        
        .inSelect>input {
            width: 100%;
            height: 3%;
            font-family: 400;
            font-weight: 2em;
            font-size: 18pt;
        }
        
        span {
            width: 100%;
            font-size: 18pt;
            text-decoration: none;
            text-align: right;
        }
        
        h3 {
            text-decoration: none;
        }
        
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
        }